Django==3.1.13
djangorestframework==3.11.0
django-crontab==0.7.1
django_filters==0.2.1
django-filter==2.2.0
lockfile==0.12.2
mysqlclient==1.4.6
python-daemon==2.2.4
python-dateutil==2.8.1
pika==1.1.0
pytz==2019.3
requests==2.22.0
